<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Excel Tool</a>
        <a href="#" data-target="mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="">Features</a></li>
            <li><a href="">Pricing</a></li>
            <li><a href="">Register</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile">
    <li><a href="">Features</a></li>
    <li><a href="">Pricing</a></li>
    <li><a href="">Register</a></li>
</ul>
